.Panel{
  border: 1px solid;  
  text-align: center;
  background-color: #FDCFB3;
 
}

.PanelD{
  border: 1px solid;  
  text-align: center;
  background-color: #CEC8E4;
  height: 395px;
  
 
}

.contenidoPanel{
  margin-left: 5%;
  margin-right: 5%;
  align-content: center;
}


.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1px 1px;
  grid-template-areas: "a b" "c d";
}
.a {
  grid-area: a;
}

.root {
  flex-grow: 1;
}

grow {
  flex-grow: 1;
}

menuButton {
  margin-left: -12;
  margin-right: 20;
}

posicionButton{
  margin-left: 50%;
  margin-right: 50%;
}

.userImage{
  width: 23%;
  height: 20%;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
}

.gridLogin {

  height: 1%;
}

.button{
  position: center;
  align-content: center;
}

.logo{
  width: 5%;
  height: 5%;
  margin-left: 1%;
}

.imgUpload{
  width:10%;
  height: 10%;
}

.contentChat{
  padding:2px;
  background-color:#cc998d;
}
.chat{
 
    padding:2px;
    cursor:pointer;
    margin-left:5%;
    margin-right: 25%;
    text-align:start;
    align-content: center;
    border: 1px solid;  
    


 
}